In [2]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
titanic = pd.read_csv('titanic.csv')
type(titanic)
# parquet = pd.read_parquet('titanic.parquet')

pandas.core.frame.DataFrame

In [42]:
"""
df.head(1)
df.tail(1)
df.columns
df.index
df.index.to_list()
titanic.info()
df.describe()
"""
# titanic.sample(3, random_state=1)
# titanic.loc[0:2, ['Name']] # = "new value"
# titanic.at[0, 'Name']   # specific value
# titanic.Name # titanic['Name']
# titanic.sort_values(by='Age', ascending=False)
# titanic[titanic['Age'] > 35]
# titanic.loc[titanic['Age'] > 35, ['Name', 'Age']]
# titanic[titanic['Name'].str.contains('Mr.', case=False)]
# titanic[titanic['Name'].isin(['Braund, Mr. Owen Harris', 'Heikkinen, Miss. Laina'])]
# titanic.query('Age > 60')
"""
for index, row in titanic.iterrows():
    print(index)
    print(row['Name'])"
"""
# titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean())
# titanic['Age'] = np.where(titanic['Age'].isnull(), titanic['Age'].mean(), titanic['Age'])
# titanic.drop(columns=['Cabin'], inplace=True)

# titanic = titanic.copy()
# titanic['new'] = titanic['Age'] + 10
# titanic.rename(columns={'Name': 'Full Name'}, inplace=True)
# titanic['First Name'] = titanic['Name'].str.split(',').str.get(0)
# titanic['Datetime'] = pd.to_datetime(titanic['Datetime']).dt.year

# titanic.to_csv('./titanic_new.csv', index=False)

'\nfor index, row in titanic.iterrows():\n    print(index)\n    print(row[\'Name\'])"\n'

In [ ]:
# titanic['new_lambda'] = titanic['Age'].apply(lambda x: x + 10)

# pd.merge(titanic, df, left_on='Age', right_on='A', how='inner')

# titanic[0: 1]['Age'] = np.nan
# titanic.dropna(subset=['Age'], inplace=True)
# titanic[titanic['Age'].isna()]

# titanic['Cabin'].value_counts()
# titanic.groupby(['Age'])[["Survived"]].sum()
# titanic.groupby(['Age']).agg({'Survived': 'sum', 'Fare': 'mean'})
# titanic.pivot(columns='Age', values='Survived')

# titanic['last_age'] = titanic['Age'].shift(1)
# titanic['age_ranke'] = titanic['Age'].rank(method='min')
# titanic.rolling(window=2)['Age'].mean()

Age
NaN      52.0
0.42      1.0
0.67      1.0
0.75      2.0
0.83      2.0
         ...
70.00     0.0
70.50     0.0
71.00     0.0
74.00     0.0
80.00     1.0
Length: 89, dtype: float64

In [3]:
pd.__version__

'2.2.3'

In [ ]:
titanic = pd.read_csv('titanic.csv', engine="pyarrow", dtype_backend="pyarrow")